This notebook is created for only fun purpose. For any suggestion, please contact at pkyadav3444@gmail.com

Created By: **Pradeep Kumar Yadav**

Factorial of a given Number

In [1]:
x = int(input("Enter a int number\n"))
def fact(n):
  f = 1
  for i in range(1, n+1):
    f=f*i
  return f
result = fact(x)
print("Factorial of",x, "is:", result)

Enter a int number
6
Factorial of 6 is: 720

Check a given year is Leap or not

In [3]:
year = int(input("Enter year\n"))
if year%4==0:
  if year%100==0:
    if year%400==0:
      print("{0} is a leap year".format(year))
    else:
      print("{0} is not a leap year".format(year))
  else:
      print("{0} is a leap year".format(year))
else:
  print("{0} is a not a leap year".format(year))

Enter year
2019
2019 is a not a leap year

Swap two numbers

In [4]:
x = 10
y = 20
print(x, y)
x, y = y, x
print(x, y)

10 20
20 10

reverse a string

In [5]:
a = "jaipur"
print(a[::-1])

rupiaj

Create a string using list elements

In [6]:
list1 = ["Jaipur", "a", "pinkcity"]
print(" ".join(list1))

Jaipur a pinkcity

Chaining Of Comparison Operators

In [7]:
n = 10
result = 1<n<20
print(result)
result = 1>n>20
print(result)

True
False

Print The File Path Of Imported Modules

In [8]:
import os
import socket
print(os)
print(socket)

<module 'os' from '/usr/lib/python3.8/os.py'>
<module 'socket' from '/usr/lib/python3.8/socket.py'>

Use Of Enums In Python

In [9]:
class myName:
  pradeep, kumar, yadav = range(3)
print(myName.pradeep)
print(myName.kumar)
print(myName.yadav)

0
1
2

Return Multiple Values From Functions

In [10]:
def x():
  return 1, 2, 3, 4
a,b,c,d=x()
print(a,b,c,d)

1 2 3 4

Find The Most Frequent Value In A List

In [11]:
test = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4] 
a = max(set(test), key=test.count)
print(a)

4

Check The Memory Usage Of An Object

In [12]:
import sys
x = 1
print(sys.getsizeof(x))

28

Print string N times

In [13]:
n = 2
a = "pradeep "
print(a *n)

pradeep pradeep

Checking if two words are anagrams

In [14]:
from collections import Counter
def counter_check(str1, str2):
  return Counter(str1)==Counter(str2)
print(counter_check("geek", "eekg"))
print(counter_check("geek", "pekg"))

True
False

Squar of all elements in a list

In [15]:
list2 = [1, 2, 3, 4, 5, 6]
def squar_list(x):
  for i in list2:
    print(i*i)
squar_list(list2)

1
4
9
16
25
36

Display calendar

In [16]:
import calendar
yy=2020
mm=4
print(calendar.month(yy, mm))

     April 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30